
<p>Congratulations with your new account. You have now entered a new digital era at your home. Press the link below to start.</p>
<h2><%= link_to "Setup your account" , account_setup_index_path	 %></h2>