
<h1><b>Search results</b></h1>

    <% @items.each do |item| %>
      <% if item.inventories.count > 0  %>
        <h5><%= link_to item.name, item_path(item) %></h5>
          <table  class="table table-striped", style="width: auto; height: auto">
    		  <tbody>
    		    <% item.inventories.each do |inventory| %>
    		      <% if inventory.location.location_type == "Physical" %>
    			      <tr>
    			        <td><%= link_to inventory.location.name + ": " , location_path(inventory.location) %></td>
    			        <td><%= inventory.qty %></td>
                  <td><%= inventory.arrival_date %></td>
    			      </tr>
    			     <% end %> 	
    		    <% end %>
    		  </tbody>
  	    </table>
      <%end %>  
    <% end %>


