/* line 6, /home/janfh/koredet/koredetweb/app/assets/stylesheets/carts.scss */
.add_fields {
  color: white !important;
}

/* line 10, /home/janfh/koredet/koredetweb/app/assets/stylesheets/carts.scss */
.remove_fields {
  color: white !important;
}

/* line 14, /home/janfh/koredet/koredetweb/app/assets/stylesheets/carts.scss */
.one_plus {
  color: white !important;
}

/* line 18, /home/janfh/koredet/koredetweb/app/assets/stylesheets/carts.scss */
.one_minus {
  color: white !important;
}

/* line 22, /home/janfh/koredet/koredetweb/app/assets/stylesheets/carts.scss */
.speech_input_btn {
  color: white !important;
}
