<h1>Overview</h1>
<p>

You are now going to
<ul>
	<li>Set the name of your account (group)</li>
	<li>If you want, invite users</li>
	<li>Make your own items “setup items”</li>
	<li>Make your own locations “setup locations”</li>
	<li>Define standard types of movements "transactions"</li>
	
</ul>

You can change items and locations whenever you want.


</p>

<div class="actions">
	<%= button_to 'Start >>', next_wizard_path, method: :get %>
</div>
