<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been invited to join a "Koredet" group</h1>
    <p>You can now registrer with "Koredet" and join your group.
    </p>
    <p>
      Follow this link:  <%= link_to "Signup",  @signup_url %>  to register.
    </p>
    <p>Brgds </p>
  </body>
</html>