<h3>Current users</h3>
<table  class="table table-striped", style="width: auto; height: auto">
  	<thead>
	    <tr>
		    <th>User</th>
		    <th>Local admin</th>
		    <th>Member since</th>
		    <th></th>
	    	</tr>
	</thead>

  	<tbody>
		<% @user_accounts.each do |ua| %>
	      	<tr>
			  	<td> <%= ua.user.email %></td>
			  	<td> <%= ua.account_admin %></td>
	      		<td> <%= ua.created_at %></td>
	      		<% if ua.user_id == current_user.id %>
	      			<td></td>
	      		<% else %>
	      			<td> <%= button_to "Change admin status", change_admin_status_account_path, method: :put , params: { ua_id: ua.id } %> <td>
	      		<% end %>	
			<tr>
		<% end %>	
	 </tbody>
</table>